html{
    font-family: "Calibri Light";
}

body{
    background-color: ghostwhite;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

h1{
    text-align: center;
}

p{
    padding-top: 0%;
}

.navBar{
    list-style-type: none;
    overflow: hidden;
    float: left;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.grid_img{
    float:left;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;

}

.image_wrapper{
    text-align: center;
    width: 100%;
}

.image{
    display: inline-block;
    padding: 10px;
    border-style: solid;
    border: 5px black;
}

